body{
	font-family: 'Prompt', sans-serif;
	background-color: #E0EBEF;
}

/*menu*/

.menu{
	background-color: #23BAEE;
	color: white;	
	height: 10vh auto;
	padding: 5px;
	width: 100%;	
	margin: auto;
	display: flex; /*hacer más adaptativas las pestañas cuando cambie el margen de los dispositivos*/
	flex-direction: row wrap; /*establecemos la dirección de las pestañas*/
	justify-content: space-between;/*establece el espacio de las pestañas en el menu*/
	align-items: center;
}

#logo{
	width: 250px;
	display: inline-flex;	
	margin-left: 40px;
	
}

.uno{
	font-family: 'Baloo Paaji', cursive;
	font-size: 30px;
	color: white;
	display: inline-block;
	margin-right: 7px;
}

.dos{
	font-family: 'Baloo Paaji', cursive;
	font-size: 30px;
	color: #F15C52;
	display: inline-block;	
}

@media (max-width: 900px){
	.custom-restricted-width {
       flex-direction: column;    
	}
	.pure-menu-horizontal {
		display: none;
	}
}
@media (min-width: 900px){
	.custom-restricted-width {
       display: none  
	}	
}

#menuLink1{
	background-color: #23BAEE;
}

/*caja uno*/

.container{
	display: flex;         /* con todos estos flex, dejo dos div alineados y en forma de columna cuando quedan en vista movil*/
	flex-direction: row;
	flex-wrap: wrap;	
	align-content: center;
	justify-content: center;
}

#container{
	background-image: url(../img/img-1.jpg);
	width: 80%;
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;	
	margin: 0px 110px;
	padding: 2px;		
	display: flex;
}

#container:hover{
	background-color: #fff;
	opacity: 0.7;
}


@media (max-width: 700px){
	#container{					/*esta media me permite que cuando quede en vista móvil se pueda achicar y quedar debajo del div anterior aumentando su ancho a un 100%*/
		width: 100%;
		height: 50vh;
		background-size: cover;	
		margin: 10px 1px;
		background-position: center;			
	}
}

@media (min-width: 701px) and (max-width: 1024px){
	#container{
		width: 60%;
		height: 60vh;
		background-repeat: no-repeat;
		background-size: cover;	
		background-position: center;
		margin: 20px 60px;
		padding: 2px;	
	
		display: flex;
	}
}

.box-1{
	background-color: rgba(35, 186, 238, 0.6);
	flex-direction: column;	
	width: 800px;
	height: 400px;
	margin-top: 50px;
}

@media (max-width: 700px){
	.box-1{					/*esta media me permite que cuando quede en vista móvil se pueda achicar y quedar debajo del div anterior aumentando su ancho a un 100%*/
		width: 90%;
		height: 35vh;		
		margin: 40px 10px;
		background-position: center;			
	}
}

@media (min-width: 701px) and (max-width: 1024px){
	.box-1{
		width: 70%;
		height: 40vh;		
		background-position: center;
		margin: 50px 40px;
		padding: 2px;		
		display: flex;
	}
}

.box-1 h1{	
	margin-top: 120px;
	font-size: 80px;
	font-family: 'Baloo Paaji', cursive;
	color: #F15C52;
}

.box-1 h3{	
	margin-top: 30px;
	font-size: 30px;
	font-family: 'Prompt', sans-serif;
	font-style: italic;
	color: white;
}

@media (max-width: 700px){
	.box-1 h1{					/*esta media me permite que cuando quede en vista móvil se pueda achicar y quedar debajo del div anterior aumentando su ancho a un 100%*/
		margin-top: 30px;		
		font-size: 30px;			
	}
	.box-1 h3{					/*esta media me permite que cuando quede en vista móvil se pueda achicar y quedar debajo del div anterior aumentando su ancho a un 100%*/
		margin-top: 5px;		
		font-size: 20px;			
	}
}

@media (min-width: 701px) and (max-width: 1024px){
	.box-1 h1{
		margin-top: 40px;
		font-size: 50px;
	}
	.box-1 h3{					/*esta media me permite que cuando quede en vista móvil se pueda achicar y quedar debajo del div anterior aumentando su ancho a un 100%*/
		margin-top: 5px;		
		font-size: 15px;			
	}
}

/*caja dos*/

.box-2{
	background-color: white;
	width: 80%;
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;	
	margin: 0px 110px;
	padding: 2px;		
	display: flex;
	justify-content: space-around;	
	margin-top: 20px;
}

.box-2 h2{
	font-family: 'Baloo Paaji', cursive;
	color: #F15C52;
	font-size: 20px;
}

.box-2 p{
	color: white;
	font-size: 15px;
}

.caja-1{
	flex-direction: column;
	text-align: center;
	background-color: #23BAEE;
	width: 20%;
	height: 75vh;
	padding: 5px;
	animation-name: caja;
	animation-duration: 2s;
}

.caja-1:hover{
	transform: rotateX(30deg);
}

.caja-2{
	flex-direction: column;
	text-align: center;
	background-color: #23BAEE;
	width: 20%;
	height: 75vh;
	padding: 5px;
	animation-name: caja;
	animation-duration: 2s;
}

.caja-2:hover{
	transform: rotateY(30deg);
}

.caja-3{
	flex-direction: column;
	text-align: center;
	background-color: #23BAEE;
	width: 20%;
	height: 75vh;
	padding: 5px;
	animation-name: caja;
	animation-duration: 2s;
}

.caja-3:hover{
	transform: rotateX(50deg);
}

.caja-4{
	flex-direction: column;
	text-align: center;
	background-color: #23BAEE;
	width: 20%;
	height: 75vh;
	padding: 5px;
	animation-name: caja;
	animation-duration: 2s;
}

.caja-4:hover{
	transform: rotateY(50deg);
}

@media (max-width: 700px){
	.caja-1{					/*esta media me permite que cuando quede en vista móvil se pueda achicar y quedar debajo del div anterior aumentando su ancho a un 100%*/
		width: 100%;
		height: 70vh;			
	}
	.caja-2{					/*esta media me permite que cuando quede en vista móvil se pueda achicar y quedar debajo del div anterior aumentando su ancho a un 100%*/
		width: 100%;
		height: 70vh;				
	}
	.caja-3{					/*esta media me permite que cuando quede en vista móvil se pueda achicar y quedar debajo del div anterior aumentando su ancho a un 100%*/
		width: 100%;
		height: 70vh;				
	}
	.caja-4{					/*esta media me permite que cuando quede en vista móvil se pueda achicar y quedar debajo del div anterior aumentando su ancho a un 100%*/
		width: 100%;
		height: 70vh;				
	}
	.box-2{
		justify-content: flex-start;
		align-items: flex-end;
		flex-direction: column;
		margin: 30px;
		margin-bottom: 5px;
	}
}

@media (min-width: 701px) and (max-width: 1024px){
	.caja-1{					
		width: 70%;
		height: 90vh;			
	}
	.caja-2{					
		width: 70%;
		height: 90vh;				
	}
	.caja-3{					
		width: 70%;
		height: 90vh;				
	}
	.caja-4{					
		width: 70%;
		height: 90vh;				
	}
	.box-2{
		width: 50%;	
		background-color: #E0EBEF;	
		justify-content: flex-start;
		align-items: flex-end;
		flex-direction: column;			
	}
}

/*caja tres*/

.box-3{
	display: inline-flex;
	flex-direction: row;
	background-color: #23BAEE;	
	width: 80%;
	height: 180vh;	
	margin: 0 110px;		
	margin-top: 0;
	padding: 4px;
}

.caja-5{
	flex-direction: column;
	margin: 10px 20px;	
	width: 55%;
	height: 170vh;
	background-color: white;
	padding: 5px;	
}

.caja-5 h2{
	font-family: 'Baloo Paaji', cursive;
	color: #F15C52;
	font-size: 20px;	
}

.caja-6{
	flex-direction: column;
	margin: 10px 20px;	
	margin-top: 10px;
	width: 35%;
	height: 170vh;
	padding: 5px;
}

.box1{
	background-color: #E0EBEF;
	margin: 10px 20px;
	width: 80%;
	height: 40px;
	border-radius: 7px;
	padding: 10px;
}

.box1 input{
	width: 270px;
	height: 30px;
	border-radius: 6px;
}

.box2{
	background-color: white;
	margin: 10px 20px;
	width: 80%;
	height: 70vh;	
	padding: 10px;
}

.box2 h2{
	font-family: 'Baloo Paaji', cursive;
	color: #F15C52;
	font-size: 20px;	
}

.box2 i{
	margin-right: 10px;
	margin-left: 40px;
}

.box3{
	background-color: white;
	margin: 10px 20px;
	width: 80%;
	height: 75vh;	
	padding: 10px;
}

.box3 h2{
	font-family: 'Baloo Paaji', cursive;
	color: #F15C52;
	font-size: 20px;	
}



@media (max-width: 700px){
	.caja-6{					
		display: none;			
	}
	.caja-5{	
		background-color: white;				
		width: 80%;
		height: 300vh;				
	}

	.caja-5 img{
		width: 100%;
	}

	.caja-5 iframe{
		width: 100%;
	}

	.box-3{
		display: flex;
		flex-direction: column;
		background-color: #23BAEE;	
		width: 80%;
		height: 280vh;	
		margin: 0 20px;		
		margin-top: 1100px;
		padding: 4px;			
	}	
}

@media (min-width: 701px) and (max-width: 1024px){
	.caja-6{					
		display: none;			
	}
	.box-3{
		display: flex;
		flex-direction: column;
		background-color: #23BAEE;	
		width: 40%;
		height: 220vh;	
		margin: 0 220px;		
		margin-top: 1100px;
		padding: 4px;			
	}
	.caja-5{	
		background-color: white;				
		width: 80%;
		height: 300vh;				
	}

	.caja-5 img{
		width: 100%;
	}

	.caja-5 iframe{
		width: 100%;
	}
}

/*caja cuatro*/
 
.box-conejo{
	background-image: url(../img/bunny-head.png);
 	background-size: contain; 
 	background-repeat: repeat-x;
 	width: 95%;
 	height: 50px;
 	margin-top: 5%;
 	padding: 5px;
 	margin-left: 3%;
 	visibility: visible;
 	animation-name: conejo;
 	animation-duration: 1s; 
 	animation-timing-function: ease;
 	animation-iteration-count: infinite;
 } 

 @keyframes conejo{
 	0%{
 		transform: translateY(10px);
 		margin-left: 0;
 	}
 	50%{
 		transform: translateY(0);
 		margin-left: 50px;
 	}
 	100%{
 		transform: translateY(10px);
 		margin-left: 100px; 		
 	}
 }

 /*footer*/
footer{
	background-color: #23BAEE;
	width: 100%;
	height: 10vh;
	border-top: 3px solid #F15C52;
	flex-direction: center;
	text-align: center;
}

footer h2{
	color: white;
	font-size: 16px;
}

@media (min-width: 701px) and (max-width: 1024px){
	footer{
		margin-top: 150px;
	}
}
